
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAMELAND</title>
</head>
<body>
     <header>
         {% block pagename %}
         <h1>{{text}}</h1>
         <a href='/sign1/'><h4>регистрация</h4></a>
         {% endblock %}
     </header>

     <nav>
         {% block menu %}
         <ul>
             <li><a href="/platform/"><h3>Главная страница</h3></a></li>
             <li><a href="/games/"><h3>Магазин</h3></a></li>
             <li><a href="/cart/"><h3>Корзина</h3></a></li>
             <li><a href="/platform/news"><h3>Новости</h3></a></li>
         </ul>
         {% endblock %}
     </nav>

     <main>
         {% block content %}
            {% for i in games %}
               <p>{{i.title}} | {{i.description}}. Стоимость: {{i.cost}} <button>Купить</button></p>
            {% endfor %}
         {% endblock %}
     </main>



</body>
</html>